ROCKET_DB_URL=localhost:8000
ROCKET_DB_USER=root
ROCKET_DB_PASSWORD=root
ROCKET_DB_CONFIG_FILE=db.surql
ROCKET_JWT_SECRET=your_jwt_secret_key
ROCKET_AES_KEY=01234567890123456789012345678901 # SHOULD BE EXACTLY 32 BYTES FOR AES 256
ROCKET_TOKEN_EXPIRATION_SECONDS=3600
ROCKET_REFRESH_TOKEN_EXPIRATION_SECONDS=604800
